<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDD933EE26214437000AD8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD9340326214613000AD8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD9340B26214613000AD8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDED13E126292A2B00FD7290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDED13E926292A2C00FD7290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDFAB0CA2630E356007F1D39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
